@import "colors.scss";

.card {
  border: 2px solid $black;
  border-radius: 17px;
  margin: auto;
  width: clamp(20rem, 90%, 40rem);
  padding: 1.5rem;
  background-color: $white;

  //   .mainImageContainer {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;

  //     img {
  //       border-radius: 12px;
  //       width: 100%;
  //     }
  //   }

  .content {
  }
}
